/FillMyTeam/*.iml
/FillMyTeam//local.properties
/FillMyTeam//.idea/workspace.xml
/FillMyTeam//.idea/libraries
/FillMyTeam/app/keystore/keystore.properties
/FillMyTeam/app/Fill My Team-426941c02e24.json
/FillMyTeam/app/google-services.json
/FillMyTeam/app/src/debug/google-services.json
/FillMyTeam/gradle.properties